.DS_Store
oh-my-zsh/
custom/
node_modules/
scripts/tools/setup/*.lock.json

# Dependencies
scripts/plugins/zsh-autosuggestions
scripts/plugins/zsh-syntax-highlighting
scripts/themes/powerlevel10k
scripts/themes/base16-themes
